
@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Inicio de sesión</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="inputEmail">Correo electrónico</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Ingresa tu correo electrónico">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Contraseña</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
